body {
    background: rgb(15, 13, 141);
    font-family: Roboto, sans-serif;
}

footer {
    font-size: 10px;
    margin-top: 30px;
}

img {
    height: 150px;
    width: 150px;
}

button {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    color: #000;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.container {
    text-align: center;
    background: center;
    background-color: #fff;
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: #000 solid 1px;
    margin: 100px auto;
    padding-bottom: 10px;
}

.nascimento {
    border: rgb(136, 135, 135) 2px solid;
    border-radius: 4px;
    height: 28px;
    text-align: center;
    /* border: 0;
    border-bottom: rgb(136, 135, 135) 2px solid;
    text-align: center;
    width: 60px;
    text-decoration: none;
    font-size: 17px; */
}

.confirm {
    border-radius: 5px;
    height: 30px;
    width: auto;
    border: #fff;
    background-color: green;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin-left: 10px;
}

.continue {
    border-radius: 5px;
    height: 30px;
    width: auto;
    border: #fff;
    background-color: green;
    color: #fff;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.return {
    border-radius: 5px;
    height: 30px;
    width: auto;
    border: #fff;
    background-color: darkgrey;
    color: #fff;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.escolher {
    display: none;
}

.aparecer {
    display: none;
}

.urna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #000 solid 2px;
    border-radius: 4px;
    margin: 20px;
}

.tela {
    border: #000 solid 1px;
    border-radius: 4px;
    margin: 5px;
    background-color: rgb(184, 184, 184);
}
.tela label{
    font-size: 98px;
}

.teclado {
    margin: 5px;
}

.urna button {
    cursor: pointer;
    text-align: center;
}

.confirmUrna {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: #fff;
    background-color: green;
    color: #000;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.cancelUrna {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: #fff;
    background-color: gray;
    color: #000;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.correctUrna {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: #fff;
    background-color: yellow;
    color: #000;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.finaly {
    display: none;
    margin: 20px;
    font-size: 20px;
}

#birth {
    display: block;
}

#minor {
    display: none;
}

#minor img{
    margin-top: 10px;
    border: #000 solid 1px;
    border-radius: 4px;
}

#older {
    display: none;
}

#older p {
    font-size: 18px;
    font-weight: 600; 
}

#older img {
    cursor: pointer;
    border: #000 solid 1px;
    border-radius: 4px;
}

#optional {
    display: none;
}

#optional img {
    cursor: pointer;
    border: #000 solid 1px;
    border-radius: 4px;
}

#oldAll {
    display: none;
}

#oldAll img {
    margin-top: 10px;
    border: #000 solid 1px;
    border-radius: 4px;
}

#oldAll .escolher img {
    cursor: pointer;
}

#conteudoTela {
    padding-top: 20px;
}